.contact {

  background-color: #fff;
  padding: 1rem;
  padding-top: .5rem;
}

html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 60em) {

}

.btn-hover {
  background: #f2f2f2;
}
